<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

<body>
    <%- include('./partials/nav') %>
    <div class="homeBox">
        <h3 class="title is-3 indexHdr">Driver's Index</h3>
        <section class="profileBox">
            <% for (let i = 0; i < drivers.length; i++) { %>
            <div class="items">
                <div class="itemHeader"><%=drivers[i].name%></div>
                <figure class="image is-96x96 itemImg">
                    <a href="/driver/<%=drivers[i].id%>">
                        <img src="/images/<%=drivers[i].img%>" alt="driver image">
                    </a>
                </figure>
            </div>

            <% } %>
        </section>
        <div class="profileBtns">
            <form action="/driver/edit" method="GET">
                <input class="button drBtn" type="submit" value="Edit Your Profile" />
            </form>
            <form action="/driver/delete?_method=DELETE" method="POST">
                <input class="button drBtn" type="submit" value="Delete Your Profile" />
            </form>
        <div>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>

</html>