<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/nav') %>
    <table>
        <% for (let i = 0; i < drivers.length; i++) { %>
        <tr>
            <td><a href="/drivers/<%=drivers[i]._id%>"><%=drivers[i].name%></td>
        </tr>

        <% } %>
    </table>
    <a href="/drivers/edit">
        <button class="editBtn" type="button">Edit your profile</button>
    </a>
         <%- include('./partials/footer.ejs')%>
</body>
</html>