<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/nav') %>
    <div class="showname">
        <h2 style="text-transform: capitalize;"><%=driver.name%></h2>
    </div>
    <div id="showImg"><img src="/images/<%=driver.img%>" alt="driver image" width="300" height="300"> </div>
    </div>
    <div class="eachentry">
        Email: <%=driver.email%>
    </div>
    <div class="eachentry">
        Age: <%=driver.age%>
    </div>
    <div class="eachentry">
        Years of Experience: <%=driver.years_experience%>
    </div>
    <div class="eachentry">
        Certified: <%=driver.certified%>
    </div>
    <div class="eachentry">
        Availability(Days): <%=driver.days_available%>
    </div>
    <form action="/user/<%=driver._id%>/select" method="POST">
        <select name="days_available">
            <% for (day of driver.days_available) {%>
            <option value="<%=day%>"><%=day%></option>
            <%}%>
            </select>
            <input class="selectBtn" type="submit" value="SELECT"/>
        </form>
        <form action="/drivers/<%=driver._id%>?_method=DELETE" method="POST">
            <input class="delBtn" type="submit" value="Delete Your Profile" />
    </form>

    <%- include('./partials/footer.ejs')%>
</body>

</html>