<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

<body>
    <%- include('./partials/nav') %>
    <div class="showContainer">
        <div class="showPrtBox">
            <div>
                <h2 class="title is-4 hdrParent" style="text-transform: capitalize;">Hello <%=parent.name%>!</h2>
            </div>
            <div class="selectDescptn">
                <b>You have selected following drivers</b>
            </div>
            <% const days ={monday:'', tuesday:'', wednesday:'', thursday:'', friday:'', saturday:'', sunday:''};%>
            <% for (let driver of parent.selected_drivers){%>
            <%console.log(driver)%>
            <% days[driver.day] = driver.name;%>
            <%}%>
            <div class="selectedDrivers">
                <div class="box dayBox">
                    <div class="day">Monday</div>
                        <div class="selDriver"><%=days.monday%></div>
                 </div>
                <div class="box dayBox">
                    <div class="day">Tuesday</div>
                        <div class="selDriver"><%=days.tuesday%></div>
                </div>
                <div class="box dayBox">
                    <div class="day">Wednesday</div>
                        <div class="selDriver"><%=days.wednesday%></div>
                </div>
                <div class="box dayBox">
                    <div class="day">Thursday</div>
                </div>
                <div class="box dayBox">
                    <div class="day">Friday</div>
                        <div class="selDriver"><%=days.friday%></div>
                </div>
                <div class="box dayBox">
                    <div class="day">Saturday</div>
                        <div class="selDriver"><%=days.saturday%></div>
                </div>
                <div class="box dayBox">
                    <div class="day">Sunday</div>
                        <div class="selDriver"><%=days.sunday%></div>
                </div>
             </div>
         </div>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>

</html>